MYSQL_DATABASE=open_platform
MYSQL_USER=open_platform
MYSQL_PASSWORD=local_only_password
MYSQL_ROOT_PASSWORD=local_only_root_password
MYSQL_PORT=3306
REDIS_PORT=6379
DATA_PLATFORM_SIMULATOR_PORT=18080
API_PORT=8080
WEB_PORT=5173
